<%- include('../includes/head') %>
  <link rel="stylesheet" href="/css/orders.css">
</head>

<body>
  <%- include('../includes/navigation') %>
  <main>
    <% if (orders.length > 0) { %>
      <ul class="orders">
          <% orders.forEach(order => { %>
            <li class="orders__item">
              <h1>Order - # <%= order._id %></h1>
                <ul class="orders__products">
                  <% order.products.forEach(product => { %>
                    <li class="orders__products-item"><%= product.product.title %> (<%= product.quantity %>)</li>
                  <% }) %>
                </ul>
                <h4>Order total: $ <%= order.total / 100 %></h4>
              </li>
          <% }) %>
      </ul>
  <% } else { %>
  <h3>No orders to display</h3>
  <% } %>
  </main>
<%- include('../includes/end') %>